<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 <form action=":id/update" method="POST">
    <div class="row">
    <div class="input-field col s6">
      <input  id="first_name2" type="text" class="validate" name="firstName">
      <label class="active" for="firstName" ><%= result.firstName %> </label>
      <button type="submit">Submit</button>
    </div>
  </div>
      </form>
</body>
</html>